#root {
  max-width: 850px;
  width: 60%;
  margin: 2rem auto;
}

.active {
  color: #faa500;
}

.form-inline input, .form-inline button {
  margin: .25rem;
}

#goals {
  margin-bottom: 15px;
}

#complete-goals {
  margin-bottom: 15px;
}

.goal, .complete-goal {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
}

.goal strong, .complete-goal strong {
  flex: 1 1;
}

.goal span, .complete-goal span {
  margin-left: 1rem;
}

.goal button {
  margin-left: 1rem;
}
